<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LoveLink</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    body {
      font-family: 'Inter', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #e9a9a9;
    }
    h1 {
      text-align: center;
      padding: 10px;
      color: #ffffff;
      padding-bottom: 0px;
    }
    .container {
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      background-color: #ffffff;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }
    button {
      width: 100%;
      padding: 10px;
      background-color: #cd6161;
      color: white;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      margin-bottom: 10px;
    }
    button:hover {
      background-color: #B2344C;
    }

    button.logout {
      position: absolute;
      top: 10px;
      left: 5px;
      width: 80px;
      padding: 5px;
      font-size: 14px;
      background-color: #e9a9a9;
      color: white;
      border: none;
      border-radius: 50px;
      cursor: pointer;
    }
    button.logout:hover {
      background-color: #B2344C;
    }
    .switch-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 80px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 34px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

    input:checked + .slider {
        background-color: #cd6161;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #cd6161;
    }

    input:checked + .slider:before {
        transform: translateX(46px);
    }

    .switch-label {
        margin: 0 10px;
    }
    .quiz-content {
        display: none;
    }
  </style>
</head>
<body>
    <script>
        window.onload = function() {           
            console.log('loaded');
            document.getElementById("compile-results-btn").addEventListener("click", async () => {
                window.location.href = "/compiledQuizResults";
            });
        }
        </script>
  <h1>LoveLink</h1>
  <% if (error) { %>
    <div class="alert text-center" role="alert" style="background-color: #e9a9a9; color: #ffffff;">
      <%= error %>
    </div>
  <% } %>
  <% if (success) { %>
    <div class="alert text-center" role="alert" style="background-color: #e9a9a9; color: #ffffff;">
      <%= success %>
    </div>
  <% } %>
  <div class="container">
    <h2 style="text-align: center;">Welcome, <%= currentUser.name %></h2>
    <div class="switch-container">
        <span class="switch-label">Feed</span>
        <label class="switch">
          <input type="checkbox" id="toggleSwitch">
          <span class="slider"></span>
        </label>
        <span class="switch-label">Quizzes</span>
      </div>
    <button onclick="location.href='/pin';">View Your Pin</button>
    <button onclick="location.href='/partnerSearch';">Connect With your Partner</button>
    <button class="logout" onclick="location.href='/logout';">Logout</button>

    <div class="quiz-content">
        <button onclick="location.href='/quiz';">Take the Love Language Quiz</button>
        <h2 style="text-align: center;">Current Partner: <%= currentUser.partner ? currentUser.partner : 'None' %></h2>
        <% if (mostRecentResult) { %>
            <h2 style="text-align: center;">Your Most Recent Quiz Result:</h2>
            <ul style="text-align: center;">
                <strong>Partner Name:</strong> <%= mostRecentResult.name %> <br>
                <strong>Show Love:</strong> <%= mostRecentResult.showLove %> <br>
                <strong>Preferred Gift:</strong> <%= mostRecentResult.preferredGift %> <br>
                <strong>Favorite Activity:</strong> <%= mostRecentResult.favoriteActivity %> <br>
                <strong>Communication Preference:</strong> <%= mostRecentResult.communicationPreference %>
            </ul>
        <% } else { %>
            <h3 style ="text-align: center;">You haven't taken the quiz yet.</h3>
        <% } %>
        <% if (currentUser.partner) { %>
            <% if (partnerResults) { %>
            <h2 style="text-align: center;">Your Partner's Most Recent Quiz Result:</h2>
            <ul style="text-align: center;">
                <strong>Partner Name:</strong> <%= partnerResults.name %> <br>
                <strong>Show Love:</strong> <%= partnerResults.showLove %> <br>
                <strong>Preferred Gift:</strong> <%= partnerResults.preferredGift %> <br>
                <strong>Favorite Activity:</strong> <%= partnerResults.favoriteActivity %> <br>
                <strong>Communication Preference:</strong> <%= partnerResults.communicationPreference %>
            </ul>
            <div id="quizResultsOutput">
                <label id = 'compiledQuizResultsLabel'><%= compiledResults %></label>
                <label id = 'chatGPTOutputLabel'>Your Compatibility report:</label>
                <label id = 'chatGPTOutput'><%= compatibilityReport %></label>
            </div>
            <% } else { %>
            <h3 style ="text-align: center;">Your partner hasn't taken the quiz yet.</h3>
            <% } %>
        <% } %>
        <% if (currentUser.partner && mostRecentResult && partnerResults) { %>
            <button id="compile-results-btn">Compile Quiz Results</button>
        <% } %>
    </div>
    <div class="feed-content">
        <div class="tab-pane fade show" id="feed" role="tabpanel" aria-labelledby="feed-tab">
            <h2 style = "text-align: center;">Feed</h2>
            <button onclick="location.href='/sendNudge';">Send Nudge</button>
            <% if (currentUser && currentUser.nudgeInbox.length > 0) { %>
                <div style="width: 100%; height: 200px; overflow-y: scroll; margin-top: 20px; border: 1px solid #ccc;">
                  <ul style="list-style-type: none; padding: 0;">
                    <% currentUser.nudgeInbox.forEach((nudge) => { %>
                        <li style="padding: 10px; border-bottom: 1px solid #ccc; display: flex; justify-content: space-between;", onclick="displayMessage('<%= nudge.message %>', '<%= nudge.timestamp.toLocaleString() %>')">
                            <span><%= nudge.message.substring(0, 30) + (nudge.message.length > 30 ? '...' : '') %></span>
                            <span><%= new Date(nudge.timestamp).toLocaleString() %></span>
                        </li>
                    <% }); %>
                  </ul>
                </div>
              <% } %>
        </div>
    </div>
    <script>
        function displayMessage(content, timestamp) {
            alert('Message: ' + content + '\nDate and time: ' + timestamp);
        }
        document.getElementById("toggleSwitch").addEventListener("change", function() {
          const quizContent = document.querySelector(".quiz-content");
          const feedContent = document.querySelector(".feed-content");
          if (this.checked) {
            quizContent.style.display = "block";
            feedContent.style.display = "none";
          } else {
            quizContent.style.display = "none";
            feedContent.style.display = "block";
          }
        });

        document.addEventListener('DOMContentLoaded', function() {
            const toggleSwitch = document.getElementById('toggleSwitch');

            // Load the saved state from localStorage
            const savedState = localStorage.getItem('switchState');
            if (savedState === 'quizzes') {
                toggleSwitch.checked = true;
            }
            toggleContentVisibility();

            toggleSwitch.addEventListener('change', function() {
                // Save the current state to localStorage
                localStorage.setItem('switchState', toggleSwitch.checked ? 'quizzes' : 'feed');
                toggleContentVisibility();
            });

            function toggleContentVisibility() {
                const quizContent = document.querySelector(".quiz-content");
                const feedContent = document.querySelector(".feed-content");
                if (toggleSwitch.checked) {
                    quizContent.style.display = "block";
                    feedContent.style.display = "none";
                } else {
                    quizContent.style.display = "none";
                    feedContent.style.display = "block";
                }
            }
        });
      </script>
    </body>
  </div>
</body>
</html>