<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Love Language Quiz Results</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    body {
      font-family: 'Raleway', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #e9a9a9;
    }
    h1 {
      text-align: center;
      font-family: 'Raleway', sans-serif;

      padding: 10px;
      color: #ffffff;
      padding-bottom: 0px;
    }
    .results-container {
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      background-color: #ffffff;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }
    .result {
      margin-bottom: 20px;
    }
    label {
      margin-top: 5px;
      margin-bottom: 5px;
      color: #4a5568;
      font-weight: 400;
    }
    button {
      width: 100%;
      padding: 10px;
      background-color: #cd6161;
      color: white;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      margin-bottom: 10px;
    }
    button:hover {
      background-color: #B2344C;
    }
  </style>
</head>
<body>
  <h1>Quiz Results</h1>
  <div class="results-container">
    <% var result = quizResults[quizResults.length - 1]; %>
      <div class="result">
        <label>Partner's Name: <%= result.name %></label>
      </div>
      <div class="result">
        <label>Preferred way to show love: <%= result.showLove %></label>
      </div>
      <div class="result">
        <label>Preferred gift: <%= result.preferredGift %></label>
      </div>
      <div class="result">
        <label>Favorite activity: <%= result.favoriteActivity %></label>
      </div>
      <div class="result">
        <label>Communication preference: <%= result.communicationPreference %></label>
      </div>
      <div class="text-center">
        <button onclick="location.href='/quiz'">Try Again</button>
        <button onclick="location.href='/profile'">Return to Profile</button>
      </div>
  </div>  

</body>
</html>